:root {
  font-family: "Ropa Sans", sans-serif;
}
.characters,
.details h2,
header h1 {
  color: #ffd600;
  letter-spacing: 6px;
}

header {
  background-image: url(assets/header-background.png);
  padding: 40px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center center;
}

main {
  margin: 0;
  background-color: #444444;
  display: flex;
  justify-content: center;
  height: 90vh;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 700px;
  position: relative;
}

.character-names li{
  color: black;
  list-style: none;
}

.characters,
.details {
  height: 400px;
  width: 300px;
  position: absolute;
  bottom: 35px;
}
.details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 40% 40%;
  right: 0;
}

.characters {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
  left: 0;
}

.characters-header {
  background-color: #535556;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.character-names{
  background-color: #8a8a8a;
  grid-column: 1/2;
  grid-row: 2/3;
}

.characters-footer {
  background-color: #c4c4c4;
  text-align: center;
  color: black;
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.characters a {
  color: black;
}

.details-header {
  background-color: #748687;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.people-details {
  background-color: #c4c4c4;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.people-planet {
  background-color: #8e8e8e;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 3/4;
}

.people-details p,
.people-details h3,
.people-planet p,
.people-planet h3 {
  margin: 0;
}
.page-nav {
  display: flex;
  justify-content: center;
}

.left-icon{
  transform: rotate(180deg);
}

/*************** loader *****************/
.loader{
  margin:auto;
  width:30px;
  height:30px;
  border-radius: 50%;
  border:3px solid #8a8a8a;
  border-top-color: #444444;
  border-right-color: #444444;
  border-bottom-color: #444444;
  animation: 1s spin infinite ease-in-out;
}
@keyframes spin{
  to{
    transform:rotate(360deg);
  }
}

.loader-container{
  /* margin-top: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* display: block; */
}